<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <app-spinner *ngIf="loading$ | async; else profile"></app-spinner>
    <pre *ngIf="error$ | async as error">{{ error }}</pre>
  </div>
  <ng-template #profile>
    <div class="col-4">
      <app-profile-main [profile]="profile$ | async"></app-profile-main>
      <app-profile-hobby
        [hobbies]="(profile$ | async).hobbies"
      ></app-profile-hobby>
      <app-profile-info></app-profile-info>
    </div>
    <div class="col-8">
      <app-profile-summary></app-profile-summary>
      <app-profile-skills
        [skills]="(profile$ | async).skills"
      ></app-profile-skills>
      <app-profile-education
        [education]="(profile$ | async).education"
      ></app-profile-education>
    </div>
  </ng-template>
</div>
