<div class="card">
  <div class="card-header text-center">
    <h3 class="card-title">Profile Edit</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <app-profile-edit-main></app-profile-edit-main>
        <app-profile-edit-skills></app-profile-edit-skills>
        <app-profile-edit-education></app-profile-edit-education>
      </div>
      <div class="col">
        <app-profile-edit-hobby></app-profile-edit-hobby>
        <app-profile-edit-info></app-profile-edit-info>
        <app-profile-edit-summary></app-profile-edit-summary>
      </div>
    </div>
  </div>
</div>
